* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.card {
    background-color: #2ebc99;
    position: absolute;
    overflow: hidden;
    margin: 100px 450px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
    transition: 0.3s;
    text-align: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card h1 {
  text-align: center;
  font-size:24px;
}

.container {
    padding: 2px 16px;
}

img {
  width:100%;
}
.contact-info {
  border-style: solid;
   border-width: 5px;
}
@media only screen and (max-width: 768px) {
        width: 100%;
    }
